Heat Sink:
    - Should occupy the same space as a vanilla beacon
      |- 1x1 small grid
      |- 1x2 large grid

Radiator:
  - Should occupy the same space as vanilla heat vent
      |- 1x1 both small and large grid
  - Should have emissive parts that can be colored, preferably with animated vent slats like the vanilla heat vent
  - Should have a conveyor port
