All blocks should fit the general aesthetic of vanilla blocks

Heat Sink:
    - Should occupy the same space as a vanilla beacon
      |- 1x1 small grid
      |- 1x2 large grid
    - Makeshift variant - same as above, should feel like it serves the same purpose but is more cheaply made/inefficient

Radiator:
  - Should occupy the same space as vanilla heat vent
      |- 1x1 both small and large grid
  - Should have emissive parts that can be colored, preferably with animated vent slats like the vanilla heat vent
  - Should have a conveyor port
  - Makeshift variant - same as above, should feel like it serves the same purpose but is more cheaply made/inefficient
